@{
    ViewData["Title"] = "Home Page";
}
<br />
    <div class="container m-0 p-0">
        <div class="row row align-items-end">
            <div class="col-12">
                <h1 class="display-4">iLoyalty Systems</h1>
                <p>A machine learning based customer retention system.</p>
            </div>
        </div>
        <hr />
        <div class="row align-items-center" style="height:400px">
            <div class="col-12">
                <h4 class="text-secondary">Advance Studio 2 - Final Product</h4>
                <p class="text-secondary">INT3516-B20-MA Advanced Studio #2 (Capstone)</p>
            </div>
        </div>

        <div class="row align-content-center border" style="height:200px">
            <div class="col-3">
                <label class="text-body font-weight-bold">Research and Development</label>
                <p class="text-info">Numa Dewan - 7200</p>
                <p class="text-info">Sujata Maharjan - 7112</p>
                <p class="text-info">Jordan SIgno - 7213</p>
            </div>
            <div class="col-3">
                <label class="text-body font-weight-bold">Developed by</label>
                <p class="text-info">JMSigno(devRekt)</p>
            </div>
            <div class="col-3">
                <label class="text-body font-weight-bold">Advisor</label>
                <p class="text-info">Roshan Weerasuriya</p>
            </div>
            <div class="col-3">
                <label class="text-body font-weight-bold">Campus</label>
                <p class="text-info">AIT - Melbourne</p>
            </div>
        </div>
    </div>

