@{
    ViewData["Title"] = "Home Page";
}

    <div class="container m-0 p-0">
        <div class="border-bottom mb-5 mt-2">
            <h1 class="display-4">iLoyalty Systems</h1>
            <p>A machine learning based customer retention system.</p>
        </div>
        <h4 class="text-info">DASHBOARD</h4>
        <div class="row border p-3">
            <div class="col-6">
                <h5 class="text-info">Prediction Panel</h5>
            </div>
            <div class="col-6">
                <h5 class="text-info">Predicted Customers</h5>
            </div>
        </div>
    </div>